/*전체적용*/
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration-line: none;
  margin: 0px;
  padding: 0px;
  width: auto;
  font-family: "GangwonEdu_OTFBoldA";
}
