nav {
  font-family: "Gugi", cursive;
  list-style-type: none;
  text-decoration-line: none;
  color: white;
  background-color: #887fcd;
  padding: 15px;
    display: flex;
  justify-content: space-between;
  color: white;
  height: 15px;
  top: 0;
  position: sticky;
  align-content: center;
}
.mylogo{
  padding-top: 0px;
  align-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 15px;
}
nav a:hover {
  background-color: #fcfcd4;
  color: #887fcd;
}

nav > ul {
  display: flex;
  list-style: none;
}